## M06 Exercises - Hilde Younce

### Exercise 6.1:

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.DataFrame({'features': [1., 2., 3., 4., 5.], 'labels': [0, 1, 2, 1, 0]})
df

   features  labels
0       1.0       0
1       2.0       1
2       3.0       2
3       4.0       1
4       5.0       0

### Exercise 6.2:

In [7]:
df = df.rename(columns ={'labels': 'label'})
df

   features  label
0       1.0      0
1       2.0      1
2       3.0      2
3       4.0      1
4       5.0      0

### Exercise 6.3:

In [11]:
iris = sns.load_dataset('iris')
iris.sort_values(by=['species'], ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

### Exercise 6.4:

In [14]:
iris.species.value_counts().to_frame()

            count
species
setosa         50
versicolor     50
virginica      50

### Exercise 6.5:

In [19]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)])

137

### Exercise 6.6:

In [24]:
iris['min_petal'] = iris[['petal_length', 'petal_width']].apply(lambda x: min(x.petal_width, x.petal_length), axis=1)
iris

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
0,5.1,3.5,1.4,0.2,setosa,0.2
1,4.9,3.0,1.4,0.2,setosa,0.2
2,4.7,3.2,1.3,0.2,setosa,0.2
3,4.6,3.1,1.5,0.2,setosa,0.2
4,5.0,3.6,1.4,0.2,setosa,0.2
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8