# **M03 Exercises**

## Exercise 3.1

If `val = 5`, nothing will print.  
 
To fix this, we can add an `else` statement.

## Exercise 3.2

In [2]:
xx = [-2, 8, 0, 5, 6]
max_val = max(xx)
for val in xx:
    if val < max_val:
        print(val)
    else:
        print("max_val")

-2
max_val
0
5
6

## Exercise 3.3

In [6]:
it = 0
max_iter = 100
while(it < max_iter):
    if (it == 0) or (it % 10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

## Exercise 3.4

In [7]:
names = ['Hilde', 'Jack', 'Andrew', 'John']
for name in names:
    print(name.lower())

hilde
jack
andrew
john

## Exercise 3.5

In [8]:
myit = iter(names)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

Hilde
Jack
Andrew
John

## Exercise 3.6

In [14]:
cities = {'Centreville': 20120, 'Charlottesville': 22904}
for city, zip in cities.items():
    print(f"{city}: {zip}")

Centreville: 20120
Charlottesville: 22904

## Exercise 3.7

In [15]:
for city in cities.keys():
    print(city, cities[city])

Centreville 20120
Charlottesville 22904

## Exercise 3.8

In [16]:
numbers = [1, 2, 3, 4, 5]
cubes = [val**3 for val in numbers]
print(cubes)

[1, 8, 27, 64, 125]

## Exercise 3.9

In [19]:
strs = ['one', '2', 'three', '4', 'five', '6', 'seven']
numbers = [st for st in strs if st.isdigit()]
numbers

['2', '4', '6']